/* Font from : https://fonts.google.com/specimen/Josefin+Sans */

*{
  font-family: 'Josefin Sans', sans-serif;
}

.ebc{
	color: blue;
  font-size: 35px;
  font-weight: 400;
  text-align: center;


}
.date {
	color: darkgreen;
  text-align: center;
}
.text {
	color: blue;
  text-align: center;
  background-color: lightgreen;
}
body

/* Navbar 3 */

.navbar{
  position: relative;
 
}
ul {
  list-style-type: none;
  margin: auto;
  width: 100%;
  z-index: 3;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  
}

li {
  float: left;

}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}
/* Text block inside Image CSS
Source : https://www.w3schools.com/howto/howto_css_image_text_blocks.asp */

.imageText {
  position: relative;
  width: fit-content;
}

.img {
  /* height: auto; 
  width: auto; 
  min-width:100%; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  
}
/* Bottom right text */
.box-text {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}


/* Image Boxing up */

.row1 .row2 {
  display: flex;
  
}

/* Create three equal columns that sits next to each other */
.column1 .column2 {
  flex: 50%;
  padding: 5px;
}

/* Table Styliing 
https://www.w3schools.com/css/css_table_style.asp
*/

table, td, th {  
  border: 1px solid #ddd;
  text-align: center;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
}

tr:hover {background-color: #86ceb3;}


  
  
 
